@import "../../../assets/utilities/variables";

h6 img {
	width: 20px;
	height: 20px;
}

.players > div > div {
	display: inline-block;
}

.player-info {
	vertical-align: top;
}

.player-info p {
	font-weight: bold;
}

.player-info p:last-child {
	font-size: 0.7rem;
}