<div class="row">
	<div class="col-sm-8">
		<div class="live ml-3 mb-3">
			<span class="live-icon m-2"></span><p class="ml-1 mr-2">LIVE</p>
		</div>
		<h6 class="mt-2 ml-3">
			<span class="mr-1">
				<img src="./assets/images/location.JPG">
			</span>
			Cancha 1
		</h6>
		<div class="row no-gutters score-card m-3 p-1">
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					1
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					<div class="score-content">1</div>
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					<div class="score-content">1</div>
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					<div class="score-content">1</div>
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					1
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					<div class="score-content">1</div>
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					<div class="score-content">1</div>
				</div>
			</div>
			<div class="col-sm-3 score-box">
				<div class="score-wrapper p-2">
					<div class="score-content">1</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="row players">
			<div class="col-sm-12" *ngFor="let player of players">
				<div class="player-img mr-3 mb-2" [style.backgroundImage]="'url('+player.img+')'"></div>
				<div class="player-info">
					<p class="mb-0">{{player.name}}</p>
					<p class="mb-0">{{player.country}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
