@import "../../../assets/utilities/variables";

h6 img {
	width: 20px;
	height: 20px;
}

.players > div > div {
	display: inline-block;
} 

.player-img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-size: contain;
	z-index: 2;
}

.player-img:before {
	content: "";
	background-color: gray;
	position: absolute;
	top: 60%;
	left: 28px;
	width: 25px;
	height: 15px;
	border-radius: 4px;
	opacity: 0.8;
	z-index: 4;
}

.player-info {
	vertical-align: top;
}

.player-info p {
	font-weight: bold;
}

.player-info p:last-child {
	font-size: 0.7rem;
}