<div class="p-3">
	<h6 class="mt-2">Partidos Live</h6>
	<div class="ml-3 mb-3" *ngFor="let game of games; let i=index">
		<div class="custom-card col-sm-12 mb-2"
		[ngClass]="{'active': activeIndex == i}">
			<div class="row no-gutters game-header p-1">
				<div class="col-sm-4">
					<div class="live">
						<span class="live-icon ml-3 mr-2 mt-2 mb-2"></span>
						<small class="ml-1 mr-2">LIVE</small>
					</div>
				</div>
				<div class="col-sm-4">
					<div>
						<small>
							<span><img src="./assets/images/location.JPG"></span>
							Cuartos de Final
						</small>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mr-2">
						<small>
							<span><img src="./assets/images/location.JPG"></span>
							Cancha 1
						</small>
					</div>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-sm-6">
					<div>
						<!-- img -->
						<!-- img -->
						<div>
							<!-- nombre -->
							<!-- nombre -->
						</div>
					</div>
					<div>
						<!-- img -->
						<!-- img -->
						<div>
							<!-- nombre -->
							<!-- nombre -->
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row scores">
						<div class="col-sm-4 pre-box">
							<div class="score win m-2">
								<span>6</span>
							</div>
						</div>
						<div class="col-sm-4 pre-box">
							<div class="score m-2">
								<span>2</span>
							</div>
						</div>
						<div class="col-sm-4 pre-box">
							<div class="score no-score m-2">
								<span>-</span>
							</div>
						</div>
						<div class="col-sm-4 pre-box">
							<div class="score lose m-2">
								<span>1</span>
							</div>
						</div>
						<div class="col-sm-4 pre-box">
							<div class="score m-2">
								<span>0</span>
							</div>
						</div>
						<div class="col-sm-4 pre-box">
							<div class="score no-score m-2">
								<span>-</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>